<h1>
  Links
</h1>

<ul id="links">
  <% @links.each do |link| %>
  <li>
    Title:
    <%= link.title %>
    URL:
    <%= link.url   %>
  </li>
  <% end %>
</ul>

<form action="/links/new_links">
  <input type="submit" value="New Link">
</form>

<form action="/users/new">
  <input type="submit" value="Sign Up">
</form>

<form action="/sessions/new">
  <input type="submit" value="Sign In">
</form>

<form action="/password_reset">
  <input type='submit' value='Forgotten password'>
</form>
